<tr>
    <td scope="row" class="d-flex align-items-top">
        <a href="/people/<%= card.name %>">
            <img
                class="img-thumbnail object-fit-cover"
                src="<%= card.picture %>"
                alt="<%= card.name %>"
                width="100"
                height="100"
            />
            <%= card.name %>
        </a>
    </td>

    <td scope="row">
        <%= card.age %> <i class="<%= card.alive ? '' : 'fas fa-cross' %>"></i>
    </td>

    <td scope="row">
        <%= new Date(card.birth_date).getFullYear().toString().padStart(4) %>
        <%= card.born_bc ? 'BC' :'AD' %>
    </td>

    <td scope="row"><%- include('./field', { field: card.field }) %></td>
</tr>
